params {

  // options
  // publish_dir = "$launchDir/results/"
  publish_dir = "$launchDir/../nxf-scripts/mm10-enh-pr"
  conda_yml = '/projects/li-lab/agarwa/conda_envs/cube'

  store_dir = "/projects/li-lab/agarwa/CUBE/DeepTact/DeepTact-Pipeline/storeDir" // base directory with raw input files
  dev = false

}

timeline.enabled = true

report.enabled = true

env {
    PYTHONPATH = "${projectDir}/bin:$PYTHONPATH"
}

profiles {

  standard {
    process.executor = 'local'
  }

  slurm{
  process {
    executor = 'slurm'
    clusterOptions = '--qos batch'

    cpus = {  1 * task.attempt }
    memory = {  7.GB * task.attempt  }
    time = {  4.h * task.attempt  }

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries = 1
    maxErrors = '-1'

    withLabel:process_intense {
      cpus = {  1 * task.attempt  }
      memory = {  55.GB * task.attempt  }
      time = {  22.h * task.attempt  }
    }
  }
  }
}
