params{  // regulatory element preprocessing options
  // chunks = 0 // chunks to divide data into // choose "wisely" for speed and parallelization
  
  regelem_inp="proc_files/regelem.mm10.csv"
  coscore_inp="proc_files/coscore.mouse_cube.mm10.csv_type"
  //coscore_inp="proc_files/coscore.mouse_cube.mm10.csv"
  dnaseq_inp="proc_files/dnaseq.mm10.csv"

  // chunks=11
  // chunks_val = chunks; chunks_test=chunks; chunks_train=chunks; chunks_all=chunks
  chunks_val = 2; chunks_test=2; chunks_train=11; chunks_all=33
  //pchic_inp="proc_files/pchic_data-val.mm10.csv_rep1"; chunks=2
  // pchic_inp="proc_files/pchic_data-test.mm10.csv_rep1"; chunks=2
  //pchic_inp="proc_files/pchic_data-train.mm10.csv_rep1"; chunks=11 
  pchic_inp="proc_files/pchic_data-all.mm10.csv_rep"

  //pchic_inp="proc_files/pchic_data-all.mm10.csv"
  //pchic_inp="proc_files/by_type/pchic_data-all.mm10.csv_type"  
  //pchic_inp="proc_files/pchic_data-train.mm10.csv"
  //pchic_inp="proc_files/pchic_data-test.mm10.csv"
  //pchic_inp="proc_files/pchic_data-val.mm10.csv"
  randomize=false
}
