params{  // regulatory element preprocessing options
  dataDir="../../dataset"

  refgen = "" // 'mm10'/'hg38'/'hg19'

  bgWindow = 1000000 // background length for regulatory elements = 1MB (both promoters and enhancers)
  augment_length = 1000
  augment_step = 50

  promoter_window = 1000
  enhancer_window = 2000

  max_dist_pr_enh = 1e6   // max distance between brute force generated promoter enhancer pairs

  //  reference Genome file paths
  genomes {
    'hg19' {
      fasta        = "$dataDir/hg19/hg19.fa"
      fasta_idx    = "$dataDir/hg19/hg19.fa.fai"
      promoter_gtf = "$dataDir/hg19/ensembl_rel_75/Homo_sapiens.GRCh37.75.gtf.gz"
      enhancer_bed = "$dataDir/enhancers_fantom5/human_permissive_enhancers_phase_1_and_2.bed"
      enhBed_headers = "['chrom', 'chromStart', 'chromEnd', 'name', 'score', 'strand', 'thickStart', 'thickEnd', 'itemRgb', 'blockCount', 'blockSizes', 'blockStarts']"
    }
    'hg38' {
      fasta        = "$dataDir/hg38/hg38.fa"
      fasta_idx    = "$dataDir/hg38/hg38.fa.fai"
      promoter_gtf = "$dataDir/hg38/gencode/hg38_gencodev38.gtf.gz"
      enhancer_bed = "$dataDir/enhancers_fantom5/F5.hg38.enhancers.bed"
      enhBed_headers = "['chrom', 'chromStart', 'chromEnd', 'name', 'score', 'strand', 'thickStart', 'thickEnd', 'itemRgb', 'blockCount', 'blockSizes', 'blockStarts']"
    }
    'mm10' {
      fasta        = "$dataDir/mm10/mm10.fa"
      fasta_idx    = "$dataDir/mm10/mm10.fa.fai"
      promoter_gtf = "$dataDir/mm10/gencode/mm10_gencodevM25.gtf.gz"
      enhancer_bed = "$dataDir/enhancers_fantom5/F5.mm10.enhancers.bed"
      enhBed_headers = "['chrom', 'chromStart', 'chromEnd', 'name', 'score', 'strand', 'thickStart', 'thickEnd', 'itemRgb', 'blockCount', 'blockSizes', 'blockStarts']"
    }
  }

  species {
    'hg' {
      all_chrom = "['chr1', 'chr2', 'chr3', 'chr4', 'chr5', 'chr6', 'chr7', 'chr8', 'chr9', 'chr10', 'chr11', 'chr12', 'chr13', 'chr14', 'chr15', 'chr16', 'chr17', 'chr18', 'chr19', 'chr20', 'chr21', 'chr22', 'chrX', 'chrY']"
    }
    'mm' {
      all_chrom = "['chr1', 'chr2', 'chr3', 'chr4', 'chr5', 'chr6', 'chr7', 'chr8', 'chr9', 'chr10', 'chr11', 'chr12', 'chr13', 'chr14', 'chr15', 'chr16', 'chr17', 'chr18', 'chr19', 'chrX', 'chrY']"  
    }
  }
  
  all_chrom = params.species[params.refgen.substring(0,2)].all_chrom

}
