params {

  // options
  // publish_dir = "$launchDir/results/"
  publish_dir = "$launchDir/../nxf-scripts/mm10-enh-pr"
  conda_yml = '/projects/li-lab/agarwa/conda_envs/cube'

  dev = false
}

timeline.enabled = true

report.enabled = true

env {
    PYTHONPATH = "${projectDir}/bin:$PYTHONPATH"
}


profiles {

  standard {
    process.executor = 'local'
  }

  slurm{
    process {
      executor = 'slurm'
      clusterOptions = '--qos batch'
      conda = "$params.conda_yml"
      // shell = ['/bin/bash','-u']

      errorStrategy = 'finish'
      memory = '100 GB'
      time = '6h'
    }
  }
}
