params{
  store_dir = "../nxf-scripts" // base directory with processed input files
  
  hic_input = "proc_files/hic_input.csv"
  cellTypes=['score'] // cell types list for PCHiC data // human

  dnaseq_inp = "proc_files/dnaseq.${params.refgen}.csv"
  regelem_inp = "proc_files/regelem.${params.refgen}.csv"

  // PCHi-C data processing options
  pos_threshold = 5
  // neg_threshold = 0

  hic_split_process = 2 // split hic tsv into <N> part for further parallel processing after separation by chromosome 

  //hic_augment_factor = 1
  //neg_pos_interac_ratio = 'inf'
  //split = []//all

  hic_augment_factor = 20 // augment positive interactions by this factor *only for the last split*
  neg_pos_interac_ratio = 4 // neg interactions : pos interactions ratio for training data / 'inf'/1/2/3...
  split = [0.2, 0.2] // test / val / train
 }
